* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
}

ul li {
  list-style: none;
  display: inline;
}

/* utility */
.container {
  width: 60%;
  margin: 0 auto;
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex {
  display: flex;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
}

header .logo img {
  height: 8vh;
}

header .menu a {
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  color: black;
}

header i {
  padding: 5px;
}

/* main */

.jumbotron {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../img/slide-corporate-9-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
}

.jumbo_text .title span {
  margin: 10px;
}

.jumbo_text h1 {
  margin-top: 5px;
}

.jumbo_text > img {
  position: absolute;
  right: 75px;
}

.jumbo_text p:first-child {
  margin: 0 10px;
}

/* prima sezione */

.intro_text {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.intro_text p:nth-child(2) {
  font-size: 1.2em;
  padding: 15px 0;
  line-height: 35px;
}

.intro_text p:nth-child(3),
.intro_item p {
  color: #616b72;
  font-size: 0.9em;
  padding: 10px 0;
  line-height: 30px;
}

.intro_item {
  text-align: center;
}

.intro_item i {
  font-size: 3em;
  margin-bottom: 20px;
  color: #1fb58c;
}

.intro_item h3 {
  margin: 10px 0;
}

/* seconda sezione */
.numbers {
  width: 100%;
  background-image: url("../img/parallax-corporate-9-1.jpg");
  background-position-y: 20%;
  background-size: cover;
  height: 40vh;
}

.numbers_text p:first-child {
  color: #1fb58c;
  font-size: 0.7em;
}

.numbers_text p:nth-child(2) {
  font-weight: 500;
  font-size: 1.3em;
}

.numbers_text p span {
  font-weight: 900;
}

.numbers_text p:nth-child(3) {
  color: #616b72;
  padding: 10px 0;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #1fb58c;
}
button a {
  text-decoration: none;
  color: #1fb58c;
}

.numbers .container {
  height: 100%;
  align-items: center;
}

.numbers_info {
  flex-wrap: wrap;
  justify-content: space-around;
}

.numbers_item {
  text-align: center;
  padding: 15px 0;
}

.numbers_item span {
  font-weight: 900;
  font-size: 2.5em;
  color: #2e3338;
}

/* terza sezione */

.images {
  border-bottom: 1px solid lightgrey;
}

.images_content {
  padding-right: 15px;
  width: calc(100% / 3);
}

.images_img img {
  width: 90%;
  margin: 10px 0;
}

.images_content p:nth-child(2) {
  color: #1ab895;
  text-transform: uppercase;
  font-size: 0.7em;
}

.images_content h4 {
  color: #2e3338;
  margin: 10px 0;
}

.images_content p:nth-child(4) {
  color: #616b72;
  font-size: 0.7em;
  line-height: 20px;
  margin-bottom: 10px;
}

.images_content p a {
  text-decoration: none;
  color: #1ab895;
  font-weight: 600;
  font-size: 0.7em;
}

.logos .container {
  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffcf;
}

.logos img {
  width: calc(100% / 7 - 5px);
}

/* quarta sezione */

.quotes {
  width: 100%;
  background-color: #e3e9eb;
  text-align: center;
}

.quotes_img img {
  border-radius: 100%;
  width: 70px;
  margin: 30px;
}

.quotes_text {
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
}

.quotes_text i {
  font-size: 1.5em;
}

.quotes_text i:first-child {
  position: absolute;
  top: -15px;
  left: -40px;
}

.quotes_text i:nth-child(2) {
  position: absolute;
  bottom: 30px;
  right: -50px;
}

.quotes_text p:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 0.7em;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.quotes_menu i {
  font-size: 0.6em;
  padding: 5px;
  cursor: pointer;
}

.quotes_menu i:first-child {
  color: #1ab895;
}

.quotes_menu i:not(i:first-child) {
  color: #bcbcbc;
}

/*footer*/

footer {
  width: 100%;
  background-color: #20242d;
}

.footer_social {
  text-align: center;
  border-bottom: 1px solid #807f70;
}

.footer_social i {
  background-color: #2e3338;
  color: white;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 100px;
  margin: 50px 0;
  cursor: pointer;
}

.footer_text {
  justify-content: space-around;
  padding: 35px 0;
  color: #bcbcbc;
  font-size: 0.8em;
}

.footer_text li {
  margin-right: 10px;
}

.footer_text ul li i {
  color: #1fb58c;
  padding: 0 5px;
}

.footer_text p,
.footer_text i {
  color: #807f70;
}

.footer_text i {
  padding: 5px;
}

.hidden_menu {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: #2e3338;
  padding: 10px;
  color: #bcbcbc;
  cursor: pointer;
}
