* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 900;
}

/* utility */
.container {
  width: 60%;
  margin: 0 auto;
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex {
  display: flex;
}

/* header */

header {
  width: 100%;
  height: 10vh;
}

/* main */

.jumbotron {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../img/slide-corporate-9-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3em;
}

.jumbo_text .title span {
  margin: 10px;
}

.jumbo_text h1 {
  margin-top: 5px;
}

.jumbo_text > img {
  position: absolute;
  right: 75px;
}

.jumbo_text p:first-child {
  margin: 0 10px;
}

/* prima sezione */

.intro_text {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.intro_text p:nth-child(2) {
  font-size: 1.2em;
  padding: 15px 0;
}

.intro_text p:nth-child(3) {
  color: #616b72;
  font-size: 0.8em;
  padding: 15px 0;
}

.intro_info {
  display: flex;
}

.numbers {
  width: 100%;
}

.numbers_text {
  width: 70%;
}

.images {
  border-bottom: 1px solid lightgrey;
}

ul li {
  list-style: none;
  display: inline;
}

/*footer*/

footer {
  width: 100%;
}

.footer_social {
  text-align: center;
  border-bottom: 1px solid white;
}

.footer_text {
  padding: 15px 0;
}

/* eliminare */
header {
  background-color: lightgrey;
}

.numbers {
  background-color: lightgrey;
  height: 30vh;
}

.numbers_info {
  flex-wrap: wrap;
  justify-content: space-around;
}

.quotes {
  width: 100%;
  background-color: lightgrey;
}

footer {
  background-color: blue;
}
